@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

h2{
    font-family:'Oswald', sans-serif !important;
    font-size: 20px !important;
    color:#2C3E50 !important;
    margin:auto;
    margin-left: 190px;
    margin-top: 10px;
}
th{
    font-family:'Oswald', sans-serif !important;
    font-size: 13px !important;
    color: white;
}

td{
    font-size: 13px !important;
    color:#2C3E50 !important;
}

thead{
    background-color:  #ab9680 !important;
}

table{
    width: 70%;
    margin:auto;
    margin-top: 15px;
}

button{
    display: inline-block;
    background-color: #907761 !important;
    color: white !important;
    border-color: white!important;
    border-radius: 10px !important;
    border-width: 1px;
    font-family:'Oswald', sans-serif !important;
    font-size: 13px !important;
    padding: 5px 10px;
  }
  
  button:hover{
    background-color:  #ab9680 !important;
    }