<div>
    <div class="row">
      <div class="col">
       <img src = "../../assets/pexels-elina-fairytale-3865712.jpg">
      </div>
      <div class="col">
        <form (ngSubmit)="onSubmit()">
            <h2>CATEGORÍAS</h2>
            <label for="id">ID CATEGORÍA</label>
            <input class = "form-control" [(ngModel)]="categoria.id_categoria" type="number" id="id" name="id" disabled>    
            <label for="nombre">NOMBRE CATEGORÍA</label>
            <input class = "form-control" [(ngModel)]="categoria.cat_nombre" type="text" id="nombre" name="nombre" required>    
            <label for="descripcion">DESCRIPCIÓN CATEGORÍA</label>
            <input class = "form-control" [(ngModel)]="categoria.cat_descripcion" type="text" id="descripcion" name="descripcion" required>  
            <button id = "añadir" type="submit"  >GUARDAR</button>
          </form>      
      
      </div>
    </div>
    </div>

