@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@900&display=swap');

img{
    width: 100%;
}

label {
  font-size: .85rem;
  text-transform: uppercase;
  color: #ccc;
}

.form-control {
  background-color: transparent;
  border-top: 0;
  border-right: 0;
  border-left: 0;
  border-radius: 0;
}

h2{
  font-family:'Oswald', sans-serif !important;
  font-size: 25px !important;
  color: #2C3E50 !important;
  margin-top: 5%;
}

button{
  display: inline-block;
  margin: 10px;
  background-color: #907761 !important;
  color: white !important;
  border-color: white!important;
  border-radius: 10px !important;
  border-width: 1px;
  font-family:'Oswald', sans-serif !important;
  font-size: 13px !important;
  padding: 5px 10px;
}

button:hover{
  background-color:  #ab9680 !important;
  }