    <!---------------- H E A D E R ----------------->
      <header>
         <h1>LA TIENDA DE INCIENSOS</h1>
      </header>
      <body>
         <app-menu></app-menu>
     </body>
     <footer>
      <div class="container text-center">
         <div class="row">
            <div class="col">
               <h6 class="text-start" id="logo">namaste<br></h6>
                  <p class="text-start" id="eslogan">Descubre una experiencia sensorial única con nuestros inciensos naturales. Explora nuestra gama de fragancias y encuentra tu aroma perfecto.</p>
            </div>
            <div class="col">
               <h6 class="text-start" id="contacto">CONTÁCTANOS</h6>
               <p class="text-start" id="contacto">inciensos@namaste.com<br>Calle xxx<br>Namaste Inc</p>
            </div>
           <div class="col">
               <h6 class="text-start" id="redes">SÍGUENOS</h6>
               <p class="text-start" id="redes">¡Sí! Tenemos redes sociales<br>
                  <i class="fab fa-facebook"></i>
                  <i class="fab fa-twitter"></i>
                  <i class="fab fa-instagram"></i>
               </p>

           </div>
           <hr>
           <p id="texto">© 2023 Namaste Inc. All rights reserved</p>
         </div>
       </div>
     </footer>


      
      