<form>
   <h2>Categorías</h2>
    <label for="id">ID de la categoría</label><br>
    <input type=”text” id="id" name="id"><br>
    <label for=”nombre”>Nombre de la categoría</label><br>
    <input type=”text” id=”nombre” name=”nombre”><br>
    <label for=”categoria”>Descripción de la categoría</label><br>
    <input type=”text” id=”categoria” name=”categoria”><br>
    <button id= "añadir">Añadir</button>
    <button id="eliminar">Eliminar</button>
    <button id="modificar">Modificar</button>
</form>

<li *ngFor="let cat of listado;">
{{cat.cat_nombre}}
</li>
